@inherits LayoutComponentBase

<PageTitle>HLuxuryDriving-Server</PageTitle>

<div class="page">
    <main>
        <nav class="navbar" id="mainNavbar">
            <div class="navbar-left">
                <button class="menu-toggle" @onclick="ToggleMenu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <img src="img/h-luxury-driving-logo.svg" alt="Logo" class="navbar-logo" />
            </div>

            <ul class="nav-links @(isMenuOpen ? "open" : "")">
                <li><button class="nav-button" @onclick="@(() => ScrollToSection("masthead"))">Accueil</button></li>
                <li><button class="nav-button" @onclick="@(() => ScrollToSection("lots"))">Atouts</button></li>
                <li><button class="nav-button" @onclick="@(() => ScrollToSection("portfolio"))">Services</button></li>
                <li><button class="nav-button" @onclick="@(() => ScrollToSection("contact"))">Contact</button></li>
            </ul>
        </nav>
        <article style="padding-left: 0; padding-right:0;">
            @Body
        </article>
    </main>
</div>

@code {
    @inject IJSRuntime JS

    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    private async Task ScrollToSection(string id)
    {
        await JS.InvokeVoidAsync("scrollToElement", id);
        isMenuOpen = false;
    }
}
